* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  --black: rgb(4, 4, 4);
  --grey: rgb(109, 113, 113);
}

body {
  background-color: #f6f8fb;
}

/* Navbar */
.navbar {
  background: #ffffff;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px --black;
  
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: var(--black);
}

nav a {
  margin: 0 12px;
  text-decoration: none;
  color: var(--grey);
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 22.5px;
  border-radius: 50%;
}
.container {
  padding: 20px;
  margin: 10px;
  max-width: 600px;
  margin: 95px auto;
  margin-left: 30%;
  /* border: 1px solid black; */
  border-radius: 10%;
  box-shadow: 0 10px 20px rgb(46, 45, 45);
}
.back-link {
  display: inline-block;
  margin-bottom: 15px;
  text-decoration: none;
  color: var(--grey);
}
.row {
  display: flex;
}
.card h2 {
  margin-bottom: 5px;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: var(--grey);
}
.card input,
.card select {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--black);
}

.row {
  display: flex;
  gap: 15px;
}

.row .form-group {
  flex: 1;
}
.checkbox {
  display: flex;
  width: fit-content;
  justify-content: start;
  gap: 8px;
  margin: 15px 0;
  /* border-radius: 50%; */
}

.checkbox label {
  font-size: small;
}
#reimbursible {
  border-radius: 10px;
  width: 25px;
  height: 25px;
}
.submit {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 20px;
}
.cancel {
  padding: 12px 20px;
  border-radius: 20%;
  border: none;

  font-size: 14px;
  background: #ffffff;
  border: 1px solid #878383;
}
.save {
  background-color: rgb(127, 149, 155);
  border-radius: 20%;
  border: none;
}
footer {
  font-size: small;
}
